* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.logo .logo_Text {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color);
}

.logo .logo_Text span {
    color: rgb(255, 81, 0);
}
.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*--------------------- media query for menu ------------------------------------*/

@media only screen and (max-width: 800px) {

    nav{
        justify-content: right;
    }

    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #563434;
}

.header {
    background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
    margin-top: 70px;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 20px;
    transition: transrorm 0.10s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: #FFD700;
}

.col-4:hover {
    transform: translateY(-5px);
}

.offer {
    background: radial-gradient(#fff, #efcb9c);
    margin-top: 80;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: #555;
}

.tastimonial {
    padding-top: 100px;
}

.tastimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.tastimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.tastimonial .col-3:hover {
    transform: translateY(-10px);
}

.fa.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.tastimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/* brands */

.brands {
    margin: 100px auto;

}

/* .col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0%);
} */

:root {
    --body-bg: #fffaee;
    --tiem-bg: #ffffff;
}

.logo_slider {
    overflow-x: hidden;
}

.overFlow {
    display: flex;
    padding: .5rem 1rem;
    overflow: hidden;
}

.reverse .logo_wrapper {
    animation-direction: reverse;
}

.logo_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: logoLoop 30s linear infinite;
}

.logo_item {
    margin-left: 1rem;
    padding: 1rem;
    aspect-ratio: 30/9;
    background: var(--tiem-bg);
    display: grid;
    place-items: center;
    border-radius: 1rem;
}

.logo_item img {
    height: 5rem;
    width: 7rem;
    margin-inline: 2rem;
}

@keyframes logoLoop {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* foote */

footer {
    width: 100%;
    position: absolute;
    /* bottom: 0; */
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row-2 {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 18%;
    padding: 4%;
}

.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.logo {
    width: 80px;
    margin-bottom: 30px;
}

/* Location, Phone, Email Section */

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: #aaa;
}

.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
    /* border-bottom: 1px solid #ccc; */
}

.contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #fff;
    text-decoration: none;
}

footer ul li {
    list-style: none;
    margin-bottom: 12px;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .fa {
    font-size: 18px;
    margin-right: 10px;
}

form input {
    /* width: 100%; */
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fa {
    font-size: 16px;
    color: #ccc;
}

.social-icons .fa {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: #000;
    background: #fff;
    margin-left: 10px;
    cursor: pointer;
}

.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: Moving 0.2s linear infinite;
}

@keyframes Moving {
    0% {
        left: -20%;
    }

    100% {
        left: 100%;
    }
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

/*==============================  media query for less then screen size --------------------------*/

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }

    .col-2 .col-3 .col-4 {
        flex-basis: 100%;
    }

    footer {
        bottom: unset;
    }

    .col {
        flex-basis: 100%;
    }
    .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 100%;
    }
}